.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
.display{
    display: none
}
li{
    text-decoration: none;
}
   

body {
    font-family:roboto ;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
        font-weight: 700;
        font-size: 26px;
        line-height: 0,8;    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}
.studio{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
        font-weight: 700;
        font-size: 26px;
        line-height: 0, 8;
        letter-spacing: 0.03em;
        color: black;

}
.menu-link{
   
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
    
        color: #212121
}
.menu-link:hover,
.menu-link:focus{
color: #2196F3
}
.mail-link{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
    
        color: #757575;
}
.mail-link:hover,
.mail-link:focus {
    color: #2196F3
}
.phone-namber{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
    
        color: #757575;

}
.phone-namber:hover,
.phone-namber:focus{
    color: #2196F3

}
.btn{

    font-weight: 500;
    font-size: 16px;
    line-height: 0,61;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: #212121;
}
.btn:hover,
.btn:focus{
    background: #2196F3;
    color: #FFFFFF;
    
    
 
}
.hero-title{
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
       
            
            
}
.hero{
    
        background: #2F303A;
}

.buttom{
  
        font-weight: 700;
        font-size: 16px;
        line-height: 1,9;    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
   color: #FFFFFF;
background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.buttom:hover,
.buttom:focus{
background: #2196F3;
}
.about-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}
.subtitle{

    font-weight: 400;
    font-size: 14px;
    line-height: 1,8;
    letter-spacing: 0.03em;

    color: #757575;
}
.info-title{
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.name{
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1,18;
       
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.name-info{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1,18;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}
.webstudio{
    font-family: 'Raleway', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 26px;
        line-height: 0, 8;
        letter-spacing: 0.03em;
       
        color: #FFFFFF;

}
.footer-link{
    font-family: 'Roboto';
        
        font-weight: 400;
        font-size: 14px;
        line-height: 1,7;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
      
        color: #FFFFFF

}
.footer-link-mail{
   
        font-weight: 400;
        font-size: 14px;
        line-height: 1,7;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
  .footer-link-tel{
    
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);;  
    
  }
  .subject{
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
  }
  .text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1,9;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
  }
  .footer{
   background: #2F303A;
  }